body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: courier;
  font-size: 1vw;
}

img {
  width: 100%;
}

a:hover {
  color: white;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.sm-page {
  position: relative;
}

.sm-spinning-image-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 15%;
}

.sm-link-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 15%;
}

.sm-main-container {
  position: fixed;
  display: block;
  top: 20%;
  margin: 0 40%;
  width: 20%;
}

.sm-main-catergories {
  position: relative;
}

.sm-catergory-main-hover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  cursor: crosshair;
}

.sm-catergory-main-hover:hover {
  opacity: 1;
}

.sm-twink-images-container {
  position: absolute;
  width: 100%:
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.sm-twink-images-container--show {
  opacity: 1;
  pointer-events: auto;
}

.sm-bear-images-container {
  position: absolute;
  width: 100%:
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.sm-bear-images-container--show {
  opacity: 1;
  pointer-events: auto;
}

.sm-jock-images-container {
  position: absolute;
  width: 100%:
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.sm-jock-images-container--show {
  opacity: 1;
  pointer-events: auto;
}

.sm-links-list-container {
  position: fixed;
  top: 5%;
  left: 3%;
  opacity: 0;
  pointer-events: none;
}

.sm-links-list-container--show {
  opacity: 1;
  pointer-events: auto;
}



.sm-image-container--zoom {
  transform: scale(2);
  transform-origin: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-image-container-inner {
  width: 100%;
  height: 50vh;
  transform: translate(
    calc(calc(var(--mouse-x) / 2.5 * -1) + 120px),
    calc(calc(var(--mouse-y) / 3 * -1) + 20px)
  );
}

/* Mobile View */

@media only screen and (max-width: 600px) {
  .sm-main-container {
    position: fixed;
    display: block;
    top: 25%;
    margin: 0 30%;
    width: 40%;
  }

  .sm-spinning-image-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
  }

  .sm-link-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
  }
}

.sm-image {
  width: 10%;
  float: left;
  margin: 1.5%;
}

.sm-image--space {
  margin-left: 12%;
}

.sm-image--double-space {
  margin-left: 24%;
}

.sm-image--four-space {
  margin-left: 48%;
}

.sm-image--five-space {
  margin-left: 60%;
}


.sm-image--next-line {
  margin-left: 3%;
}

/* Twink Page */

.sm-image--twinks {
 margin-top: 30px;
}

.sm-image--selfie {
margin-top: 50px;
}

.sm-image--twinkstanding {
margin-top: 10px;
}

.sm-image--tom {
margin-top: 50px;
}

.sm-image--motorcycle {
margin-top: 80px;
}

.sm-image--troye {
margin-top: 30px;
}

.sm-image--peter {
  margin-top: 10px;
}

.sm-image--dick2 {
  margin-top: 0px;
}

.sm-image--dick1 {
margin-top: 0px;
}

.sm-image--finger {
  margin-top: 0px;
}

.sm-image--ass {
  margin-top: 30px;
}

.sm-image-beachtwink {
  margin-top: 0px;
}

.sm-image--bruce {
  margin-top: 10px;
}

/* Bear Page */

.sm-image--tires {
  margin-top: 100px;
}

.sm-image--fenty {
  margin-top: 50px;
}

.sm-image--sidedick {
  margin-top: 80px;
}

.sm-image--hat {
  margin-top: 100px;
}

.sm-image--underwearbear {
  margin-top: 20px;
}

.sm-image--beachbear {
  margin-top: 50px;
}

.sm-image--barry {
  margin-top: 0px;
}

.sm-image--flannel {
  margin-top: 20px;
}

/* Jock Page */

.sm-image--afro {
  margin-top: 80px;
}

.sm-image--butt {
  margin-top: 20px;
}

.sm-image--jockstrap2 {
  margin-top: 40px;
}

.sm-image--brow {
  margin-top: 20px;
}

.sm-image--jordan {
  margin-top: 40px;
}

.sm-image--deon {
  margin-top: 100px;
}

.sm-image--bob {
  margin-top: 0px;
}

.sm-image--justin {
  margin-top: -50px;
}

.sm-image--pepo {
  margin-top: 50px;
}

.sm-image--ruben {
  margin-top: 0px;
}

.sm-image--barragan {
  margin-top: 20px;
}

.sm-image--shower {
  margin-top: 0px;
}

.sm-image--bike {
  margin-top: 0px;
}
